/CRUDexample-war/nbproject/private/
/nbproject/private/
/CRUDexample-ejb/nbproject/private/
/CRUDexample-ejb/build/
/CRUDexample-war/dist/
/CRUDexample-war/build/
/CRUDexample-ejb/dist/
/build/
/dist/